html, body {
	height: 100%;
	position: relative;
}


body {
	background-image: url("../images/stardust.png");
}

h1 {
	background-color: #FFCD4F;
	padding: 12px;
}

.instructions {
	background-color: #ffffff;
}

.challenge {
	background-color: #ffffff;
}

.scoreboard {
	background-color: #ffffff;
}

img {
	width: 100px;
	height: 100px;
}

#textbox {
	background-color: #ffffff;
}

.userscore {
	background-color: #ffffff;
}

footer {
	background-color: #ffffff;
}