html, body {
	height: 100%;
	position: relative;
}

*{
  box-sizing: border-box;
  }

*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-image: url("../images/stardust.png");
}

.container {
  clear: both;
	width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
	top: 0;
	z-index: 99;
	background-color: #f5bd2e;
	margin-bottom: 15px;
	padding: 5px 12px;
}

.main-container {
  padding: 5% 10%;
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
}

footer {
  color: #F1F1F1;
  background-color: #2B2B2A;
  text-align: center;
  padding: 25px;
  font-size: 12px;
	margin-bottom: 0
}

.attention {
	font-weight: 700;
}

.box {
	background-color: #F7F7F8;
	border-style: solid;
	border-color: #df5343;
	border-width: 3px;	
}

.instructions {

}

.challenge {

}

.scoreboard {

}

img {
	width: 100px;
	height: 100px;
}

#textbox {
	background-color: #ffffff;
}

.userscore {
	background-color: #ffffff;
}
