html, body {
	height: 100%;
	position: relative;
}

*{
  box-sizing: border-box;
  }

*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-image: url("../images/stardust.png");
	font-size: 18px;
}

.container {
  /* clear: both;
	width: 100%;
  margin: 0 auto;
  overflow: hidden; */
}

header {
	top: 0;
	z-index: 99;
	background-color: #f5bd2e;
	margin-bottom: 15px;
	padding: 5px 12px;
	width: 100%;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
}

footer {
  color: #F1F1F1;
  background-color: #2B2B2A;
  text-align: center;
  padding: 25px;
  font-size: 12px;
	margin-bottom: 0
}

.attention {
	font-weight: 700;
}

.box {
	background-color: #F7F7F8;
	background:rgba(241, 241, 241, 0.5);
	border-style: solid;
	border-color: #bef1ed;
	border-width: 3px;
	padding: 5px 10px;
	margin: 15px 0px;
	border-radius: 15px;
}

.instructions {

}

.challenge {

}

.scoreboard {

}

img {
	width: 100px;
	height: 100px;
	padding: 5px;
}

#textbox {
	background-color: #ffffff;
}

.userscore {
	background-color: #ffffff;
}
